.square {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .square img{
    max-width: 65%;
    max-height: 65%;
  }

  .white-piece {
    filter: invert(1);
  }